/* The body of the page */
body {
    background-image: url(../images/memory\ game.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    transition: 0.5s;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
}

body.dimmed::before {
    background-color: rgba(0, 0, 0, 0.9);
}

.start-btn {
    position: absolute;
    bottom: 12%;
    left: 47%;
    padding: 15px 30px;
    font-size: 24px;
    background-color: #0a6dc2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.start-btn:hover {
    background-color: #084a8a;
}

/* header of page */
header {
    color: white;
    text-align: center;
    padding: 30px;
}

/* main of the page */
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Game stats */
.game-play {
    display: none;
}

.game-play .game-stats {
    color: white;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 20px;
    width: 60%;
    margin: auto;
    border-radius: 8px;
}

.game-play .game-stats>div {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0 20px;
}

.game-play section .mouse-moves {
    padding-right: 20px;
    border-right: 1px solid white;
}

.icon {
    margin-right: 15px;
}

.game-play section .stat-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Restart button */
.game-play .restart-btn {
    display: flex;
    margin: auto;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* cards */
.game-play .cards {
    width: 500px;
    color: white;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.game-play .cards .card {
    background-color: transparent;
    width: 100px;
    height: 100px;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}
.game-play .cards .inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.game-play .cards .inner-card.is-flipped {
    transform: rotateY(180deg);
}
.game-play .cards .card .front-face,
.game-play .cards .card .back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;   
}
.game-play .cards .card .front-face {
    background-color: #1964fe;
    border: 3px solid #50a2ff;
    color: white;
    font-size: 48px;
}
.game-play .cards .card .back-face {
    background-color: #fbfcfd;
    border: 3px solid #e4e6ea;
    transform: rotateY(180deg);    
    color: #364153;
}
.game-play .cards .card .back-face.correct {
    background-color: #00d05c;
    border: 3px solid #7bf1a8;
    transform: rotateY(180deg);    
    color: white;
}


/* Footer */
.game-play footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.game-play footer .instruction {
    color: #c7c7c7;
}

.game-play footer .note {
    margin-top: 20px;
    color: #ffdf20;
}

.win-stat, .loss-stat {
    background-color: #f2f2f2;
    color: #4a5565;
    width: 50vw;
    padding: 30px;
    border-radius: 8px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    margin-top: 100px;
}

.win-stat .win-cup {
    color: #f0b100;
}

.win-stat h3 {
    color: #00a63e;
}

.loss-stat h3 {
    color: #e7000b;
}

.win-stat .win-stars {
    display: flex;
    font-size: 20px;
    margin-top: 20px;
}

.win-stat .game-stats,
.loss-stat .game-stats {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.win-stat .game-stats>div,
.loss-stat .game-stats>div {
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 10px 20px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.win-stat .play-again-btn,
.loss-stat .play-again-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    background-color: #0a6dc2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(to right, #ad47ff, #f7339b);
}

.win-stat .note,
.loss-stat .note {
    margin-top: 20px;
    padding: 10px;
    background-color: #eff6ff;
    color: #193cb8;
    text-align: center;
}

.win-stat .note span,
.loss-stat .note span {
    font-weight: bold;
}

.win-stat {
    display: none;
}

.loss-stat {
    display: none;
}